@font-face {
  font-family: caecillia;
  src: url('../fonts/caecillia/caecillia_bold.eot');
  /* IE9 Compat Modes */
  src: url('../fonts/caecillia/caecillia_bold.eot?#iefix') format('embedded-opentype'), url('../fonts/caecillia/caecillia_bold.woff') format('woff'), url('../fonts/caecillia/caecillia_bold.ttf') format('truetype'), url('../fonts/caecillia/caecillia_bold.svg#5c83ab110137b337279ec8d054c37ef7') format('svg');
  /* Legacy iOS */
  font-style: normal;
  font-weight: 600; }

@font-face {
  font-family: caecillia;
  src: url('../fonts/caecillia/caecillia_bold_italic.eot');
  /* IE9 Compat Modes */
  src: url('../fonts/caecillia/caecillia_bold_italic.eot?#iefix') format('embedded-opentype'), url('../fonts/caecillia/caecillia_bold_italic.woff') format('woff'), url('../fonts/caecillia/caecillia_bold_italic.ttf') format('truetype'), url('../fonts/caecillia/caecillia_bold_italic.svg#f675ab786f765b9ac3b85f4b49609e59') format('svg');
  /* Legacy iOS */
  font-style: italic;
  font-weight: 600; }

@font-face {
  font-family: caecillia;
  src: url('../fonts/caecillia/caecillia_heavy.eot');
  /* IE9 Compat Modes */
  src: url('../fonts/caecillia/caecillia_heavy.eot?#iefix') format('embedded-opentype'), url('../fonts/caecillia/caecillia_heavy.woff') format('woff'), url('../fonts/caecillia/caecillia_heavy.ttf') format('truetype'), url('../fonts/caecillia/caecillia_heavy.svg#99951fa787910c0a888011b7dd1948e5') format('svg');
  /* Legacy iOS */
  font-style: normal;
  font-weight: 700; }

@font-face {
  font-family: caecillia;
  src: url('../fonts/caecillia/caecillia_heavy_italic.eot');
  /* IE9 Compat Modes */
  src: url('../fonts/caecillia/caecillia_heavy_italic.eot?#iefix') format('embedded-opentype'), url('../fonts/caecillia/caecillia_heavy_italic.woff') format('woff'), url('../fonts/caecillia/caecillia_heavy_italic.ttf') format('truetype'), url('../fonts/caecillia/caecillia_heavy_italic.svg#33a33e9ad4d916654fbeb93afb576959') format('svg');
  /* Legacy iOS */
  font-style: italic;
  font-weight: 700; }

@font-face {
  font-family: caecillia;
  src: url('../fonts/caecillia/caecillia_italic.eot');
  /* IE9 Compat Modes */
  src: url('../fonts/caecillia/caecillia_italic.eot?#iefix') format('embedded-opentype'), url('../fonts/caecillia/caecillia_italic.woff') format('woff'), url('../fonts/caecillia/caecillia_italic.ttf') format('truetype'), url('../fonts/caecillia/caecillia_italic.svg#c2614630fe20170a39c74e4b1da80918') format('svg');
  /* Legacy iOS */
  font-style: italic;
  font-weight: 400; }

@font-face {
  font-family: caecillia;
  src: url('../fonts/caecillia/caecillia_light.eot');
  /* IE9 Compat Modes */
  src: url('../fonts/caecillia/caecillia_light.eot?#iefix') format('embedded-opentype'), url('../fonts/caecillia/caecillia_light.woff') format('woff'), url('../fonts/caecillia/caecillia_light.ttf') format('truetype'), url('../fonts/caecillia/caecillia_light.svg#f7f1222cd08cff9dd5b41a23c79708fd') format('svg');
  /* Legacy iOS */
  font-style: normal;
  font-weight: 300; }

@font-face {
  font-family: caecillia;
  src: url('../fonts/caecillia/caecillia_light_italic.eot');
  /* IE9 Compat Modes */
  src: url('../fonts/caecillia/caecillia_light_italic.eot?#iefix') format('embedded-opentype'), url('../fonts/caecillia/caecillia_light_italic.woff') format('woff'), url('../fonts/caecillia/caecillia_light_italic.ttf') format('truetype'), url('../fonts/caecillia/caecillia_light_italic.svg#6dce16d3600cd13efbbce8cb414a900d') format('svg');
  /* Legacy iOS */
  font-style: italic;
  font-weight: 300; }

@font-face {
  font-family: caecillia;
  src: url('../fonts/caecillia/caecillia_roman.eot');
  /* IE9 Compat Modes */
  src: url('../fonts/caecillia/caecillia_roman.eot?#iefix') format('embedded-opentype'), url('../fonts/caecillia/caecillia_roman.woff') format('woff'), url('../fonts/caecillia/caecillia_roman.ttf') format('truetype'), url('../fonts/caecillia/caecillia_roman.svg#0d24f3cf81264924d14bb0ca8620c211') format('svg');
  /* Legacy iOS */
  font-style: normal;
  font-weight: 400; }

@font-face {
  font-family: didot;
  src: url('../fonts/didot/didot-bold.eot');
  /* IE9 Compat Modes */
  src: url('../fonts/didot/didot-bold.eot?#iefix') format('embedded-opentype'), url('../fonts/didot/didot-bold.woff') format('woff'), url('../fonts/didot/didot-bold.ttf') format('truetype'), url('../fonts/didot/didot-bold.svg#b1d593de22d35dbd07cf09030c0be40e') format('svg');
  /* Legacy iOS */
  font-style: normal;
  font-weight: 600; }

@font-face {
  font-family: didot;
  src: url('../fonts/didot/didot-headline.eot');
  /* IE9 Compat Modes */
  src: url('../fonts/didot/didot-headline.eot?#iefix') format('embedded-opentype'), url('../fonts/didot/didot-headline.woff') format('woff'), url('../fonts/didot/didot-headline.ttf') format('truetype'), url('../fonts/didot/didot-headline.svg#9c8238aef88a2d8693f23e6c0be7e87a') format('svg');
  /* Legacy iOS */
  font-style: normal;
  font-weight: 500; }

@font-face {
  font-family: didot;
  src: url('../fonts/didot/didot-italic.eot');
  /* IE9 Compat Modes */
  src: url('../fonts/didot/didot-italic.eot?#iefix') format('embedded-opentype'), url('../fonts/didot/didot-italic.woff') format('woff'), url('../fonts/didot/didot-italic.ttf') format('truetype'), url('../fonts/didot/didot-italic.svg#bb9719e72003152ad280e2c664776bd6') format('svg');
  /* Legacy iOS */
  font-style: italic;
  font-weight: 400; }

@font-face {
  font-family: didot;
  src: url('../fonts/didot/didot-roman.eot');
  /* IE9 Compat Modes */
  src: url('../fonts/didot/didot-roman.eot?#iefix') format('embedded-opentype'), url('../fonts/didot/didot-roman.woff') format('woff'), url('../fonts/didot/didot-roman.ttf') format('truetype'), url('../fonts/didot/didot-roman.svg#6809e9ee38b0a68d2ce6b880fa63edf3') format('svg');
  /* Legacy iOS */
  font-style: normal;
  font-weight: 400; }

/*! normalize.css v3.0.1 | MIT License | git.io/normalize */
/**
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-family: caecillia, Rockwell, "Courier Bold", Courier, Georgia, Times, "Times New Roman", serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -webkit-font-smoothing: antialiased;
  height: 100%; }

body {
  background-color: #D8D8D8;
  color: #555555;
  text-align: center;
  font-size: 100%; }

li {
  display: inline-block;
  vertical-align: top;
  position: relative; }

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

* html .clearfix {
  zoom: 1; }

/* IE6 */
*:first-child + html .clearfix {
  zoom: 1; }

/* IE7 */
/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11 and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio, canvas, progress, video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden], template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background: transparent;
  text-decoration: none;
  color: #555555;
  vertical-align: top; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active, a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
h1, h2, h3, h4, h5, h6 {
  font-family: didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
  margin-bottom: 1.25em;
  font-weight: 400;
  color: #343434; }

/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

i {
  color: #666; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome. And slightly darker in colour.
 */
b, strong {
  font-weight: 600;
  color: #444; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub, sup {
  font-size: 0.8rem;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
  font-style: italic;
  font-family: caecillia, Rockwell, "Courier Bold", Courier, Georgia, Times, "Times New Roman", serif;
  color: #666666;
  font-weight: 200; }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code, kbd, pre, samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button, input, optgroup, select, textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button, select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled], html input[disabled] {
  cursor: default;
  opacity: 0.2; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal;
  border: none; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"], input[type="radio"] {
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

::-webkit-input-placeholder {
  color: #60CC7B;
  font-style: italic;
  font-size: 0.9em;
  margin-left: 1em; }

:-ms-input-placeholder {
  color: #60CC7B;
  font-style: italic;
  font-size: 0.9em; }

::-moz-placeholder {
  color: #60CC7B;
  font-style: italic;
  font-size: 0.9em; }

:-moz-placeholder {
  color: #60CC7B;
  font-style: italic;
  font-size: 0.9em; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td, th {
  padding: 0; }

label {
  display: block;
  border-top: 3px double silver;
  position: relative; }
  label:before {
    content: '';
    position: absolute;
    height: 100%;
    width: 1px;
    border-left: 1px solid silver;
    display: block;
    left: 50%;
    top: 0; }
  label span {
    width: 50%;
    text-align: right;
    display: inline-block;
    padding: 0.625em;
    margin-left: -0.625em;
    font-size: 0.9em; }
  label input {
    width: 49%;
    background-color: transparent;
    padding: 0.625em;
    margin-right: -0.625em; }

form {
  display: none;
  text-align: center; }
  form h3 {
    padding-top: 0.625em;
    border-top: 1px solid silver; }

.login > form, form[name='edit_user_name'], form[name='edit_email_address'], form[name="registerform"] {
  display: block; }

.profile_form {
  margin-bottom: 1em;
  width: 51%; }
  @media only screen and (max-width : 40.3125em) {
    .profile_form {
      width: 100%; } }

.submit_search {
  width: 2em;
  height: 2em;
  border-radius: 2px;
  background: #FFFFFF url("../images/btns/search.svg") center no-repeat; }

button {
  width: 1.875rem;
  height: 1.875rem;
  background-color: transparent;
  color: transparent;
  -webkit-transition: all 0.6s ease;
          transition: all 0.6s ease;
  -webkit-transition-property: background-color, opacity;
          transition-property: background-color, opacity;
  display: inline-block;
  vertical-align: bottom;
  border: none; }

.activeBtn.activeBtn.activeBtn {
  background-color: #FFFFFF; }

.delete_modal.delete_modal.delete_modal.delete_modal {
  position: absolute;
  top: 0.3em;
  right: 0.5em;
  background-color: #FFFFFF;
  border-radius: 1.875rem; }

button[class^="add_"] {
  background: url('../images/btns/add.svg') center no-repeat;
  position: absolute;
  background-color: #FFFFFF;
  margin-top: -1.6em;
  margin-left: -0.945em;
  border-radius: 1.875rem; }

button[class^="delete_"], .closeModal, .cancel {
  background: url('../images/btns/delete.svg') center no-repeat;
  z-index: 10; }

.submit {
  background: #FFFFFF url('../images/btns/submit.svg') center no-repeat;
  border-radius: 1.875rem; }

.previous {
  background: url('../images/btns/browserBack.svg') center no-repeat; }

.next {
  background: url('../images/btns/browserForward.svg') center no-repeat; }

.img_origSize {
  background: url('../images/btns/originalSizenobox.svg') center no-repeat; }

.img_constrainWidth {
  background: url('../images/btns/fullWidthnobox.svg') center no-repeat; }

.img_constrainHeight {
  background: url('../images/btns/fullHeightnobox.svg') center no-repeat; }

.fav_movie {
  background: url('../images/btns/favourite.svg') center no-repeat;
  opacity: 0.2;
  -webkit-transition: opacity 0.6s ease;
          transition: opacity 0.6s ease; }

.watched {
  background: url('../images/btns/quicklook.svg') center no-repeat;
  opacity: 0.2;
  -webkit-transition: opacity 0.6s ease;
          transition: opacity 0.6s ease; }

.activeFavOrWatched {
  opacity: 1; }

.go {
  background: #FFFFFF url('../images/btns/browserForward.svg') center no-repeat;
  width: 1.25rem;
  height: 1.25rem;
  border-radius: 2px; }

.active {
  font-weight: 700; }

.left {
  float: left; }

.right {
  float: right; }

.invert.invert.invert.invert.invert.invert {
  background-color: #60CC7B; }

.lower_opacity {
  opacity: 0.1; }

.left_border {
  border-left: 1px solid silver; }

.right_border {
  border-right: 1px solid silver; }

.bottom_border {
  border-bottom: 1px solid silver; }

.top_border {
  border-top: 1px solid silver; }

.justify {
  text-align: justify; }

.paragraph-padding {
  padding: 0 2em 2em; }

.bottom_border_double {
  border-bottom: 3px double silver; }

.padding {
  padding-bottom: 0.6em; }

.margin-right {
  margin-right: 6%; }

.margin-top {
  margin-top: 7%; }

.blue_border {
  border-bottom: 1px dotted #78DDFF; }

hr {
  margin: 0.5em 0;
  border: 0;
  border-top: 1px dotted silver; }

iframe {
  border: 5px solid #FFFFFF;
  border-radius: 2px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2); }

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%; }

.feedback.success, .feedback.error {
  padding: 0.4em;
  color: #FFFFFF; }

section {
  padding: 1.3em 0; }

#modal {
  position: fixed;
  top: 1.5%;
  left: 1.5%;
  right: 1.5%;
  bottom: 1.5%;
  z-index: 200;
  display: none;
  overflow-x: hidden;
  border-radius: 2px; }
  @media only screen and (max-width : 40.3125em) {
    #modal {
      top: 0;
      left: 0;
      right: 0;
      bottom: 0; } }

.stats {
  width: 49%; }
  @media only screen and (max-width : 40.3125em) {
    .stats {
      width: 100%; } }
  .stats li {
    width: 45%;
    background-color: #FFFFFF;
    border-radius: 2px;
    padding: 1em;
    margin-bottom: 0.3em; }
  .stats .fullWidth {
    width: 91%; }
  .stats .show_stats strong {
    background-color: #78DDFF; }
  .stats strong {
    color: #FEFEFA;
    background-color: #60CC7B;
    width: 3em;
    height: 3em;
    display: inline-block;
    padding-top: 1em;
    font-size: 1.4em;
    border-radius: 3em;
    margin: 1em 0; }
  .stats .percentage {
    display: block;
    font-weight: 200;
    padding-top: 0.4em; }

.loading_and_thumbs {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 500;
  top: 0;
  left: 0;
  display: none;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch; }

.shallNotPass {
  width: 13.75em;
  height: 8.75em;
  position: absolute;
  left: 40%;
  text-align: center;
  top: 9.375em;
  border-radius: 2px;
  overflow: hidden;
  background-color: #FFFFFF;
  -webkit-transition: 0.3s background-color ease;
          transition: 0.3s background-color ease; }
  @media only screen and (max-width : 40.3125em) {
    .shallNotPass {
      width: 50%;
      left: 25%;
      top: 3em;
      height: 8em; } }
  .shallNotPass p {
    margin: 20px 0; }

.progress-button {
  position: relative;
  display: inline-block;
  text-align: center;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  border: 5px solid silver;
  background-color: #FFFFFF; }
  .progress-button svg {
    position: absolute;
    top: -5px;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
    pointer-events: none;
    stroke-width: 5; }
  .progress-button .progress-circle path {
    -webkit-animation-play-state: paused;
            animation-play-state: paused;
    -webkit-animation: progress 3s ease-in-out infinite;
            animation: progress 3s ease-in-out infinite; }
  .progress-button .cross, .progress-button .checkmark {
    -webkit-transition: -webkit-transform 0.3s ease;
            transition: transform 0.3s ease;
    stroke: #BF4F51;
    -webkit-transform: translateX(-50%) scale(0);
        -ms-transform: translateX(-50%) scale(0);
            transform: translateX(-50%) scale(0); }
  .progress-button .checkmark {
    stroke: #60CC7B; }

.loading .progress-button .progress-circle path {
  -webkit-animation-play-state: running;
          animation-play-state: running; }

.success {
  background-color: #60CC7B; }
  .success .progress-button {
    border: 5px solid transparent; }
    .success .progress-button .progress-circle {
      display: none; }
    .success .progress-button .checkmark {
      -webkit-transform: translateX(-50%) scale(0.4);
          -ms-transform: translateX(-50%) scale(0.4);
              transform: translateX(-50%) scale(0.4); }

.error {
  background-color: #BF4F51; }
  .error .progress-button {
    border: 5px solid transparent; }
    .error .progress-button .progress-circle {
      display: none; }
    .error .progress-button .cross {
      -webkit-transform: translateX(-50%) scale(0.4);
          -ms-transform: translateX(-50%) scale(0.4);
              transform: translateX(-50%) scale(0.4); }

.header {
  font-size: 1rem;
  background-color: #FFFFFF; }
  @media only screen and (max-width : 40.3125em) {
    .header {
      font-size: 0.8em; } }
  .header li {
    padding: 0.4em; }

.header_user_name:before {
  content: '';
  display: inline-block;
  width: 1rem;
  height: 1rem;
  background-color: #60CC7B;
  border-radius: 1rem;
  margin-right: 0.625em;
  margin-bottom: -1px; }
  @media only screen and (max-width : 40.3125em) {
    .header_user_name:before {
      width: 1em;
      height: 1em;
      border-radius: 1em; } }
@media only screen and (max-width : 40.3125em) {
  .header_user_name {
    max-width: 10em;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: inline-block; } }

.secondary_header {
  font-size: 0.9rem; }
  @media only screen and (max-width : 40.3125em) {
    .secondary_header {
      font-size: 0.8em; } }
  .secondary_header .no_padding {
    padding: 0; }

.sortingOptions {
  background-color: #D2D2D2;
  padding: 0.3em 0;
  font-size: 0.9em; }
  @media only screen and (max-width : 40.3125em) {
    .sortingOptions {
      font-size: 0.8em; } }
  .sortingOptions ul {
    display: inline-block;
    height: 1.25em;
    position: relative;
    vertical-align: top;
    z-index: 150;
    margin-right: 0.4em; }
    .sortingOptions ul li {
      display: block;
      height: 1.25rem;
      background-color: #60CC7B;
      padding: 0.3em;
      font-size: 0.9em;
      border-radius: 2px;
      right: 0;
      position: absolute;
      opacity: 0;
      pointer-events: none;
      -webkit-transition: all 0.6s ease;
              transition: all 0.6s ease;
      -webkit-transition-property: opacity, -webkit-transform;
              transition-property: opacity, transform; }
  .sortingOptions .cascade li {
    opacity: 1;
    pointer-events: auto; }
  .sortingOptions .cascade li:nth-child(2) {
    -webkit-transform: translateY(1.8em);
        -ms-transform: translateY(1.8em);
            transform: translateY(1.8em); }
  .sortingOptions .cascade li:nth-child(3) {
    -webkit-transform: translateY(3.6em);
        -ms-transform: translateY(3.6em);
            transform: translateY(3.6em); }
  .sortingOptions .cascade li:nth-child(4) {
    -webkit-transform: translateY(5.4em);
        -ms-transform: translateY(5.4em);
            transform: translateY(5.4em); }
  .sortingOptions .cascade li:nth-child(5) {
    -webkit-transform: translateY(7.2em);
        -ms-transform: translateY(7.2em);
            transform: translateY(7.2em); }
  .sortingOptions .cascade li:nth-child(6) {
    -webkit-transform: translateY(9em);
        -ms-transform: translateY(9em);
            transform: translateY(9em); }
  .sortingOptions .firstSortingCriteria {
    width: 6em; }
    .sortingOptions .firstSortingCriteria li {
      width: 6.5em; }
    .sortingOptions .firstSortingCriteria li:nth-child(2) {
      background-color: #FF7878; }
    .sortingOptions .firstSortingCriteria li:nth-child(3) {
      background-color: #FF7878; }
    .sortingOptions .firstSortingCriteria li:nth-child(4) {
      background-color: #78DDFF; }
    .sortingOptions .firstSortingCriteria li:nth-child(5) {
      background-color: #78DDFF; }
    .sortingOptions .firstSortingCriteria li:nth-child(6) {
      background-color: #FFFF78; }
  .sortingOptions .secondSortingCriteria {
    width: 3em; }
    .sortingOptions .secondSortingCriteria li {
      width: 3.5em;
      background-color: #999; }
      .sortingOptions .secondSortingCriteria li a {
        color: #D8D8D8; }
    .sortingOptions .secondSortingCriteria li:nth-child(2) {
      background-color: #444; }

.autocomplete-suggestions {
  background: #FFFFFF;
  overflow: auto; }

.autocomplete-suggestion {
  padding: 2px 5px;
  white-space: nowrap;
  overflow: hidden;
  border-bottom: 1px solid #F0F8FF;
  color: #999; }

.autocomplete-selected {
  background: #F0F0F0; }

.autocomplete-suggestions strong {
  font-weight: normal;
  color: #60CC7B; }

.search_all {
  padding: 1em 0;
  position: relative; }
  @media only screen and (max-width : 40.3125em) {
    .search_all {
      font-size: 0.7em; } }
  .search_all .search_options {
    display: inline-block;
    height: 2em;
    vertical-align: bottom;
    width: 8.5em;
    position: relative;
    z-index: 100; }
    .search_all .search_options li {
      display: block;
      height: 2.2em;
      background-color: #FF7878;
      padding: 0.5em;
      font-size: 0.9em;
      border-radius: 2px;
      right: 0;
      position: absolute;
      opacity: 0;
      pointer-events: none;
      -webkit-transition: all 0.6s ease;
              transition: all 0.6s ease;
      -webkit-transition-property: opacity, -webkit-transform;
              transition-property: opacity, transform; }
      @media only screen and (max-width : 40.3125em) {
        .search_all .search_options li {
          width: 100%; } }
      .search_all .search_options li sub {
        font-size: 0.8em; }
    .search_all .search_options li:nth-child(2) {
      background-color: #78DDFF; }
    .search_all .search_options li:nth-child(3) {
      background-color: #FFFF78; }
  .search_all .cascade li {
    opacity: 1;
    pointer-events: auto; }
  .search_all .cascade li:nth-child(2) {
    -webkit-transform: translateY(2.6em);
        -ms-transform: translateY(2.6em);
            transform: translateY(2.6em); }
  .search_all .cascade li:nth-child(3) {
    -webkit-transform: translateY(5.2em);
        -ms-transform: translateY(5.2em);
            transform: translateY(5.2em); }
  .search_all input {
    width: 60%;
    height: 2em;
    border-radius: 2px;
    text-align: center; }
    @media only screen and (max-width : 40.3125em) {
      .search_all input {
        width: 50%; } }

.search_active.search_active.search_active.search_active {
  opacity: 1;
  pointer-events: auto; }

.movies, .shows, .profile, .main_index {
  padding: 0 0 1.3em 0; }

.media_list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  font-size: 0.9em; }
  .media_list li {
    -webkit-box-flex: 0;
    -webkit-flex: 0 11em;
        -ms-flex: 0 11em;
            flex: 0 11em;
    margin: 0.8em auto;
    position: relative;
    -webkit-transition: -webkit-transform 0.6s ease-in-out;
            transition: transform 0.6s ease-in-out;
    padding: 0 0.4em; }
    @media only screen and (max-width : 40.3125em) {
      .media_list li {
        -webkit-box-flex: 0;
        -webkit-flex: 0 50%;
            -ms-flex: 0 50%;
                flex: 0 50%;
        margin: 0; } }
  .media_list .poster {
    display: block;
    overflow-x: hidden; }
  .media_list img {
    border: 5px solid #FFFFFF;
    border-radius: 2px;
    width: 100%;
    height: auto; }
  .media_list .title {
    margin: 0.4em 0;
    padding-bottom: 0.4em;
    font-weight: 600;
    display: block;
    border-bottom: 3px double silver;
    line-height: 1.4em; }
  .media_list .date {
    font-size: 0.8em;
    font-weight: 600; }

.person_info_cont {
  text-align: left;
  padding: 1em 1em 2em 1em;
  border-bottom: 1px solid silver;
  margin-top: -1.3em;
  position: relative; }

.profile_pic {
  width: 5em;
  height: 5em;
  overflow: hidden;
  border-radius: 5em;
  background-color: #FFFF78;
  display: inline-block;
  vertical-align: top; }
  @media only screen and (max-width : 40.3125em) {
    .profile_pic {
      width: 3em;
      height: 3em; } }

.profile_pic > img {
  width: 100%;
  height: auto;
  margin-top: -1em; }

.person_info {
  display: inline-block;
  width: 14em;
  vertical-align: top;
  line-height: 1.5em;
  margin-left: 1em;
  margin-right: 1em;
  padding-left: 1em;
  border-right: 1px dotted #FFFF78;
  border-left: 1px dotted #FFFF78;
  font-size: 0.9em; }

.person_info > li > a {
  border-bottom: 1px dotted #78DDFF; }

.bio {
  display: inline-block;
  width: 30em;
  font-size: 0.9em;
  line-height: 1.5em;
  height: 8em;
  overflow: hidden;
  padding-right: 1em;
  border-right: 1px dotted #FFFF78; }
  @media only screen and (max-width : 40.3125em) {
    .bio {
      width: 100%;
      margin-top: 1em;
      border-right: none; } }

.person_info_cont > button {
  color: #555555;
  background-color: #FFFF78;
  border-radius: 2px;
  width: auto;
  height: 1.5em;
  padding: 0.3em;
  position: absolute;
  bottom: 0.3em;
  left: 50%; }
  @media only screen and (max-width : 40.3125em) {
    .person_info_cont > button {
      left: 40%; } }

.main_index > ul {
  width: 100%;
  border-bottom: medium double silver;
  font-size: 0.9em; }

.main_index > ul > li {
  display: inline-block;
  width: 9em;
  overflow-x: hidden;
  margin: 0.4em; }
  .main_index > ul > li img {
    width: 100%;
    height: auto;
    border: 5px solid #FFFFFF;
    border-radius: 2px; }

.section_heading.section_heading {
  text-align: left;
  line-height: 2.2em;
  border-right: 1px dotted #FFFF78; }
  .section_heading.section_heading a {
    border-bottom: 1px dotted #78DDFF; }

.heading_bullet {
  width: 2em;
  height: 2em;
  border-radius: 1.5em;
  display: inline-block;
  background-color: #78DDFF; }

.no_res.no_res.no_res {
  border-right: 1px dotted #FFFF78;
  width: 12em;
  padding-right: 1em; }
  .no_res.no_res.no_res .no_results {
    width: 100%;
    margin-top: 0;
    height: 11.875em;
    text-align: left; }

.umh {
  background-color: #60CC7B; }

.uth {
  background-color: #78DDFF; }

.lmh {
  background-color: #FF4343; }

.lth {
  background-color: #FFFF78; }

.smaller {
  width: 1em;
  height: 1em;
  margin-right: 0.3em; }

.statistics {
  border-right: 1px dotted #FFFF78; }

.statistics a {
  border-bottom: 1px dotted #78DDFF; }

.movie_stats > li {
  display: block;
  line-height: 1.6em;
  text-align: left;
  margin-bottom: 0.3em; }

.movie_stats > li > span {
  display: inline-block;
  text-align: center;
  background-color: #78DDFF;
  color: #FFFFFF;
  padding: 0.3em;
  font-weight: 700;
  font-size: 1.2em;
  border-radius: 2em; }

.news_content.news_content {
  background-color: #FFFFFF;
  border-radius: 2px;
  overflow: hidden; }

.news_content.news_content > img {
  border: 0;
  border-radius: 0;
  width: 130%; }

.news_content .date {
  background-color: #FF4343;
  display: block;
  text-align: left;
  color: #FFFFFF;
  padding: 0.3em; }

.news_content .date > sub {
  color: #FFFFFF; }

.news_title {
  text-align: left;
  font-size: 0.9em;
  padding: 0.3em; }

.news_title > a {
  border-bottom: 1px dotted #78DDFF; }

.pagination {
  position: fixed;
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
  background-color: #D8D8D8;
  width: 100%; }
  @media only screen and (max-width : 40.3125em) {
    .pagination {
      position: relative; } }
  .pagination li {
    font-size: 1.3em;
    padding: 0.325em 0.625em;
    margin-right: -0.3em; }
  .pagination .activePage {
    background-color: #60CC7B;
    border-radius: 2px; }
    .pagination .activePage a {
      color: #FFFFFF; }

.no_results {
  background-color: #FFFFFF;
  width: 20em;
  margin: 0 auto;
  padding: 1em;
  border-radius: 2px;
  margin-top: 3em; }
  .no_results h2 {
    border-bottom: 3px double silver;
    padding-bottom: 0.4em;
    margin-bottom: 0.9em; }
  .no_results p {
    line-height: 1.5em;
    font-size: 0.9em; }

.movieInfo {
  background: top center no-repeat;
  background-size: cover;
  height: 95%;
  background-color: whitesmoke;
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }
  @media only screen and (max-width : 40.3125em) {
    .movieInfo {
      height: 100%;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
          -ms-flex-direction: column;
              flex-direction: column;
      padding: 0; } }
  .movieInfo ul {
    background-color: #FFFFFF;
    font-size: 0.9em;
    border-radius: 2px;
    padding: 1.5em; }
    @media only screen and (max-width : 40.3125em) {
      .movieInfo ul {
        padding: 0; } }
    .movieInfo ul li {
      display: block;
      line-height: 1.6em;
      margin-bottom: 1em; }

.movieDetail {
  min-width: 26em;
  width: 60%;
  margin-right: 1em;
  overflow-y: auto;
  height: 100%; }
  @media only screen and (max-width : 40.3125em) {
    .movieDetail {
      height: 100%;
      width: 100%;
      min-width: 100%;
      margin-top: 3em;
      -webkit-overflow-scrolling: touch; }
      .movieDetail span:first-child {
        display: inline-block;
        padding: 0 1em; } }
  .movieDetail h1 {
    display: inline;
    line-height: 1.6em; }

.horizontal_uls {
  max-height: 100%;
  overflow-y: auto; }
  @media only screen and (max-width : 40.3125em) {
    .horizontal_uls {
      max-height: auto;
      -webkit-overflow-scrolling: touch;
      position: absolute;
      top: 0;
      width: 100%;
      background-color: #FFFFFF;
      border-bottom: 1px solid silver;
      padding-bottom: 2px; } }

.cast_list {
  text-align: center; }

.cast_list > ul {
  text-align: left;
  -webkit-columns: 2;
     -moz-columns: 2;
          columns: 2;
  -webkit-column-width: 12.5em;
     -moz-column-width: 12.5em;
          column-width: 12.5em;
  display: inline-block;
  width: 100%; }

.cast_list > ul > li {
  border-bottom: 1px solid silver;
  padding: 0.5em 0; }
  .cast_list > ul > li img {
    width: 100%;
    margin-top: -1em; }
  .cast_list > ul > li a {
    border-bottom: 1px dotted #78DDFF;
    padding-bottom: 0.3em; }
  .cast_list > ul > li:after {
    clear: both;
    content: '';
    display: block; }

.cast_list .contain_img {
  float: left;
  width: 5em;
  height: 5em;
  overflow: hidden;
  border-radius: 5em;
  background-color: #FFFF78;
  margin-right: 1em;
  border: none; }

.movie_additional.movie_additional.movie_additional {
  width: 14em;
  text-align: left;
  padding: 1em; }
  @media only screen and (max-width : 40.3125em) {
    .movie_additional.movie_additional.movie_additional {
      width: 12em;
      padding: 0.5em;
      float: left;
      display: none; } }
  .movie_additional.movie_additional.movie_additional li {
    margin-bottom: 0.3em;
    padding-bottom: 0.3em; }

.movie_options.movie_options.movie_options {
  width: 14em;
  padding: 0;
  background-color: transparent; }
  @media only screen and (max-width : 40.3125em) {
    .movie_options.movie_options.movie_options {
      width: 100%;
      margin-left: 15%; } }
  .movie_options.movie_options.movie_options li {
    width: 47%;
    float: left;
    height: 6em;
    background-color: #FFFFFF;
    border-radius: 2px;
    -webkit-transition: background 0.6s ease;
            transition: background 0.6s ease; }
    @media only screen and (max-width : 40.3125em) {
      .movie_options.movie_options.movie_options li {
        width: 10%;
        height: 2.5em;
        margin: 0 0.2em 0.4em; }
        .movie_options.movie_options.movie_options li sub {
          display: none; } }
  .movie_options.movie_options.movie_options img {
    display: block;
    margin: 0 auto;
    margin-top: 15px; }
    @media only screen and (max-width : 40.3125em) {
      .movie_options.movie_options.movie_options img {
        margin-top: 3px; } }

.activeOption.activeOption.activeOption.activeOption.activeOption.activeOption {
  background-color: #60CC7B; }

.image_viewer {
  width: 100%;
  background-color: #FFFFFF;
  height: 100%;
  position: absolute;
  -webkit-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
          transform: translateY(-100%);
  top: 0;
  left: 0;
  overflow: hidden;
  -webkit-transition: -webkit-transform 0.6s ease-in-out;
          transition: transform 0.6s ease-in-out; }
  .image_viewer header ul {
    background-color: #D8D8D8;
    padding: 0.4em;
    border-radius: 0; }
  .image_viewer header li {
    display: inline-block;
    margin-right: 0.6em;
    margin-bottom: 0;
    background-color: #FFFFFF;
    border-radius: 2px; }
  .image_viewer .episodes, .image_viewer .img_holder {
    display: none;
    width: 100%;
    height: 100%;
    overflow: scroll;
    -webkit-overflow-scrolling: touch; }

.showImage {
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0); }

.movieImages, .movieVideos, .moviePosters.moviePosters.moviePosters, .similar.similar.similar {
  padding: 0.5em; }
  .movieImages img, .movieVideos img, .moviePosters.moviePosters.moviePosters img, .similar.similar.similar img {
    opacity: 1; }

.movieImages li, .movieVideos li {
  -webkit-box-flex: 0;
  -webkit-flex: 0 18.75em;
      -ms-flex: 0 18.75em;
          flex: 0 18.75em; }

.moviePosters li, .similar li {
  -webkit-box-flex: 0;
  -webkit-flex: 0 9.375rem;
      -ms-flex: 0 9.375rem;
          flex: 0 9.375rem; }

.similar .add_movie {
  margin-top: -2.2em; }

.seasonList.seasonList.seasonList {
  font-size: 1.1em;
  padding: 0; }
  .seasonList.seasonList.seasonList li {
    padding: 0.6em 0;
    border: 1px solid #60CC7B;
    display: inline-block;
    width: 30%;
    border-radius: 2px;
    margin-bottom: 0.4em; }
  .seasonList.seasonList.seasonList li:nth-child(4n+2) {
    border-color: #FF7878; }
  .seasonList.seasonList.seasonList li:nth-child(4n+3) {
    border-color: #78DDFF; }
  .seasonList.seasonList.seasonList li:nth-child(4n+4) {
    border-color: #FFFF78; }
  .seasonList.seasonList.seasonList strong {
    background-color: #78DDFF;
    width: 1.7em;
    height: 1.7em;
    border-radius: 1.7em;
    display: inline-block;
    color: #FEFEFA;
    font-weight: 700;
    padding-top: 2px;
    margin: 0.4em 0; }

.exlinks.exlinks.exlinks.exlinks.exlinks strong {
  background-color: #78DDFF;
  border-radius: 2px;
  display: inline-block;
  color: #FEFEFA;
  font-weight: 600;
  padding: 2px;
  width: auto;
  height: auto;
  margin: 0; }

.episode_list .first {
  max-width: 30%;
  overflow: hidden;
  margin-right: 1em;
  float: left; }
.episode_list img {
  border: 5px solid #FFFFFF;
  border-radius: 2px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2); }
.episode_list .eps {
  padding-bottom: 1em; }
  .episode_list .eps .second {
    width: 60%;
    max-width: 30em;
    text-align: left;
    float: left; }
  .episode_list .eps h2 {
    margin-bottom: 0.5em; }

.removeElem {
  -webkit-animation-name: remove;
          animation-name: remove;
  -webkit-animation-duration: .75s;
          animation-duration: .75s; }

.tada {
  -webkit-animation: tada 1s ease-in-out;
          animation: tada 1s ease-in-out; }

.wobble {
  -webkit-animation: wobble 1s ease-in-out;
          animation: wobble 1s ease-in-out; }

@-webkit-keyframes remove {
  20% {
    -webkit-transform: scale3d(.9, .9, .9);
            transform: scale3d(.9, .9, .9); }

  50%, 55% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
            transform: scale3d(1.1, 1.1, 1.1); }

  100% {
    -webkit-transform: scale3d(.3, .3, .3);
            transform: scale3d(.3, .3, .3); } }

@keyframes remove {
  20% {
    -webkit-transform: scale3d(.9, .9, .9);
            transform: scale3d(.9, .9, .9); }

  50%, 55% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
            transform: scale3d(1.1, 1.1, 1.1); }

  100% {
    -webkit-transform: scale3d(.3, .3, .3);
            transform: scale3d(.3, .3, .3); } }

@-webkit-keyframes tada {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1); }

  10%, 20% {
    -webkit-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
            transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg); }

  30%, 50%, 70%, 90% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
            transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg); }

  40%, 60%, 80% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
            transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg); }

  100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1); } }

@keyframes tada {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1); }

  10%, 20% {
    -webkit-transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);
            transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg); }

  30%, 50%, 70%, 90% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
            transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg); }

  40%, 60%, 80% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
            transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg); }

  100% {
    -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1); } }

@-webkit-keyframes progress {
  from {
    stroke-dashoffset: 1000; }

  to {
    stroke-dashoffset: 700; } }

@keyframes progress {
  from {
    stroke-dashoffset: 1000; }

  to {
    stroke-dashoffset: 700; } }

@-webkit-keyframes wobble {
  0% {
    -webkit-transform: none;
            transform: none; }

  15% {
    -webkit-transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);
            transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg); }

  30% {
    -webkit-transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
            transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg); }

  45% {
    -webkit-transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);
            transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg); }

  60% {
    -webkit-transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
            transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg); }

  75% {
    -webkit-transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
            transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg); }

  100% {
    -webkit-transform: none;
            transform: none; } }

@keyframes wobble {
  0% {
    -webkit-transform: none;
            transform: none; }

  15% {
    -webkit-transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);
            transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg); }

  30% {
    -webkit-transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);
            transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg); }

  45% {
    -webkit-transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);
            transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg); }

  60% {
    -webkit-transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);
            transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg); }

  75% {
    -webkit-transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);
            transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg); }

  100% {
    -webkit-transform: none;
            transform: none; } }
