//class added when something is deleted
//animations
.removeElem{
	animation-name: remove;
  	animation-duration: .75s;
}

.tada{ animation: tada 1s ease-in-out; }

.wobble{ animation: wobble 1s ease-in-out;}

@keyframes remove{
	20%{ transform: scale3d(.9, .9, .9);}
	50%, 55%{ transform: scale3d(1.1,1.1,1.1);}
	100%{ transform: scale3d(.3,.3,.3);}
}

@keyframes tada {
  0% { transform: scale3d(1, 1, 1);}

  10%, 20% { transform: scale3d(.9, .9, .9) rotate3d(0, 0, 1, -3deg);}

  30%, 50%, 70%, 90% {transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);}

  40%, 60%, 80% { transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);}

  100% { transform: scale3d(1, 1, 1); }
}

@keyframes progress {
   from { stroke-dashoffset: 1000; }
   to   { stroke-dashoffset: 700; }
}

@keyframes wobble {
  0% {transform: none;}
  15% {transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg);}
  30% {transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg);}
  45% {transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg);}
  60% {transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg);}
  75% {transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg);}
  100% {transform: none;}
}