.active{font-weight: 700;}

.left{float: left;}

.right{float: right;}

.invert.invert.invert.invert.invert.invert{background-color: $btnColour;}

.lower_opacity{opacity: 0.1;}

.left_border{border-left: 1px solid $borderColour;}

.right_border{border-right: 1px solid $borderColour;}

.bottom_border{border-bottom: 1px solid $borderColour;}

.top_border{border-top: 1px solid $borderColour;}

.justify{text-align: justify;} 

.paragraph-padding{padding: 0 2em 2em;}

.bottom_border_double{border-bottom: 3px double $borderColour;}

.padding{padding-bottom: 0.6em;}

.margin-right{ margin-right: 6%;}

.margin-top{ margin-top: 7%;}

.blue_border{border-bottom: 1px dotted $blueColour;}


hr{margin: 0.5em 0; border: 0; border-top: 1px dotted $borderColour;}

iframe{
	border: 5px solid $secondaryBckColour;
	border-radius: 2px;
	box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
}

.footer{
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
}

//feedback in footer
.feedback.success, .feedback.error{
	padding: 0.4em;
	color: $secondaryBckColour;
} 

section{
	padding: 1.3em 0;
}

//ID styling! but it's the only one, promise
#modal{
	position: fixed;
	top: 1.5%;
	left: 1.5%;
	right: 1.5%;
	bottom: 1.5%;
	z-index: 200;
	display: none;
	overflow-x: hidden;
	border-radius: 2px;

	@media #{$information-phone}{
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}

}

//statistics page in profile
.stats{
	@media #{$information-phone}{
		width: 100%;
	}
	width: 49%;

	li{
		width: 45%;
		background-color: $secondaryBckColour;
		border-radius: 2px;
		padding: 1em;
		margin-bottom: 0.3em;
	}

	.fullWidth{
		width: 91%;
	}

	.show_stats{
		strong{
			background-color: $blueColour;
		}
	}

	strong{
		color: #FEFEFA;
		background-color: $btnColour;
		width: 3em;
		height: 3em;
		display: inline-block;
		padding-top: 1em;
		font-size: 1.4em;
		border-radius: 3em;
		margin: 1em 0;
	}
	.percentage{
		display: block;
		font-weight: 200;
		padding-top: 0.4em;
	}
}

//upload progress container, covers everything
.loading_and_thumbs{
	width: 100%;
	height: 100%;
	position: fixed;
	z-index: 500;
	top: 0;
	left: 0;
	display:none;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
}

//display loading message
.shallNotPass{
	width: 13.750em;
	height: 8.750em;
	position: absolute;
	left: 40%;
	text-align: center;
	top: 9.375em;
	border-radius: 2px;
	overflow: hidden;
	background-color: $secondaryBckColour;
	transition: 0.3s background-color ease;

	@media #{$information-phone} {
		width: 50%;
		left: 25%;
		top: 3em;
		height: 8em
	}

	p{margin: 20px 0;}
}

.progress-button{
	position: relative;
	display: inline-block;
	text-align: center;
	width: 50px;
	height: 50px;
	border-radius: 50px;
	border: 5px solid $borderColour;
	background-color: $secondaryBckColour;

	svg{
		position: absolute;
		top: -5px;
		transform: translateX(-50%);
		pointer-events: none;
		stroke-width: 5;
	}

	.progress-circle{
		path{
			animation-play-state: paused;
			animation: progress 3s ease-in-out infinite;
		}
	}
	.cross, .checkmark{
		transition: transform 0.3s ease;
		stroke: $deleteColour;
		transform: translateX(-50%) scale(0.0);
	}

	.checkmark{
		stroke: $btnColour;
	}
}

.loading{
	.progress-button{
		.progress-circle{
			path{animation-play-state: running;}
		}
	}	
}

.success{
	background-color: $btnColour;

	.progress-button{
		border: 5px solid transparent;

		.progress-circle{
			display:none;
		}
		.checkmark{
			transform: translateX(-50%) scale(0.4);
		}
	}
}

.error{
	background-color: $deleteColour;

	.progress-button{
		border: 5px solid transparent;

		.progress-circle{
			display:none;
		}
		.cross{
			transform: translateX(-50%) scale(0.4);
		}
	}
}







