//label is both semantic and used for structure(in a fashion)
label{
	display: block;
	border-top: 3px double $borderColour;
	position: relative;

	&:before{
		content: '';
		position: absolute;
		height: 100%;
		width: 1px;
		border-left: 1px solid $borderColour;
		display: block;
		left: 50%;
		top: 0;
	}

	span{
		width: 50%;
		text-align: right;
		display:inline-block;
		padding: 0.625em;
		margin-left: -0.625em;
		font-size: 0.9em;
	}

	input{
		width: 49%;
		background-color: transparent;
		padding: 0.625em;
		margin-right: -0.625em;
	}
}

//most forms should not be display without user action
form{
	display: none;
	text-align: center;

	h3{
		padding-top: 0.625em;
		border-top: 1px solid $borderColour;
	}
}
//only forms that will be visible
.login > form, form[name='edit_user_name'], form[name='edit_email_address'], form[name="registerform"]{
	display: block;
}

.profile_form{
	margin-bottom: 1em;
	width: 51%;
	@media #{$information-phone}{
		width: 100%;
	}
}

.submit_search{
	width: 2em;
	height: 2em;
	border-radius: 2px;
	background: $secondaryBckColour url("../images/btns/search.svg") center no-repeat;
	//background-size: 120%;
}

button{
	width: $buttonWH;
	height: $buttonWH;
	background-color: transparent;
	color: transparent; 
	transition: all 0.6s ease;
	transition-property: background-color, opacity;
	display:inline-block;
	vertical-align:bottom;
	border: none;
}

//active button
.activeBtn.activeBtn.activeBtn{
	background-color: $secondaryBckColour;
}

.delete_modal.delete_modal.delete_modal.delete_modal{
	position: absolute;
	top: 0.3em;
	right: 0.5em;
	background-color: $secondaryBckColour;
	border-radius: $buttonWH;
}

//background svgs for buttons
button[class^="add_"]{
	background: url('../images/btns/add.svg') center no-repeat;
	position: absolute;
	background-color: $secondaryBckColour;
	margin-top: -1.6em;
	margin-left: -0.945em;
	
	border-radius: $buttonWH;

	@media #{$information-phone}{
		//right: 40%;
		//top: 16.125em;
	}

}

button[class^="delete_"], .closeModal, .cancel{
	background: url('../images/btns/delete.svg') center no-repeat;
	z-index: 10;
	//background-size: 100%;
}

.submit{
	background:$secondaryBckColour url('../images/btns/submit.svg') center no-repeat;
	border-radius: $buttonWH;
	//background-size: 100%;
}

.previous{
	background: url('../images/btns/browserBack.svg') center no-repeat;
	//background-size: 100%;
}

.next{
	background: url('../images/btns/browserForward.svg') center no-repeat;
	//background-size: 100%;
}

.img_origSize{
	background: url('../images/btns/originalSizenobox.svg') center no-repeat;
	//background-size: 100%;
}

.img_constrainWidth{
	background: url('../images/btns/fullWidthnobox.svg') center no-repeat;
	//background-size: 100%;
}

.img_constrainHeight{
	background: url('../images/btns/fullHeightnobox.svg') center no-repeat;
	//background-size: 100%;
}

.fav_movie{
	background: url('../images/btns/favourite.svg') center no-repeat;
	opacity: 0.2;
	transition: opacity 0.6s ease;
	//background-size: 100%;
}

.watched{
	background: url('../images/btns/quicklook.svg') center no-repeat;
	opacity: 0.2;
	transition: opacity 0.6s ease;
	//background-size: 100%;
}

.activeFavOrWatched{
	opacity: 1;
}

.go{
	background: $secondaryBckColour url('../images/btns/browserForward.svg') center no-repeat;
	width: 1.250rem;
	height: 1.250rem;
	border-radius: 2px;
	//background-size: 100%;
}




