@font-face {
  font-family: caecillia;
  src: url('../fonts/caecillia/caecillia_bold.eot'); /* IE9 Compat Modes */
  src: url('../fonts/caecillia/caecillia_bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/caecillia/caecillia_bold.woff') format('woff'), /* Modern Browsers */
       url('../fonts/caecillia/caecillia_bold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/caecillia/caecillia_bold.svg#5c83ab110137b337279ec8d054c37ef7') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  600;
}

@font-face {
  font-family: caecillia;
  src: url('../fonts/caecillia/caecillia_bold_italic.eot'); /* IE9 Compat Modes */
  src: url('../fonts/caecillia/caecillia_bold_italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/caecillia/caecillia_bold_italic.woff') format('woff'), /* Modern Browsers */
       url('../fonts/caecillia/caecillia_bold_italic.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/caecillia/caecillia_bold_italic.svg#f675ab786f765b9ac3b85f4b49609e59') format('svg'); /* Legacy iOS */
       
  font-style:   italic;
  font-weight:  600;
}

@font-face {
  font-family: caecillia;
  src: url('../fonts/caecillia/caecillia_heavy.eot'); /* IE9 Compat Modes */
  src: url('../fonts/caecillia/caecillia_heavy.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/caecillia/caecillia_heavy.woff') format('woff'), /* Modern Browsers */
       url('../fonts/caecillia/caecillia_heavy.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/caecillia/caecillia_heavy.svg#99951fa787910c0a888011b7dd1948e5') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  700;
}

@font-face {
  font-family: caecillia;
  src: url('../fonts/caecillia/caecillia_heavy_italic.eot'); /* IE9 Compat Modes */
  src: url('../fonts/caecillia/caecillia_heavy_italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/caecillia/caecillia_heavy_italic.woff') format('woff'), /* Modern Browsers */
       url('../fonts/caecillia/caecillia_heavy_italic.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/caecillia/caecillia_heavy_italic.svg#33a33e9ad4d916654fbeb93afb576959') format('svg'); /* Legacy iOS */
       
  font-style:   italic;
  font-weight:  700;
}

@font-face {
  font-family: caecillia;
  src: url('../fonts/caecillia/caecillia_italic.eot'); /* IE9 Compat Modes */
  src: url('../fonts/caecillia/caecillia_italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/caecillia/caecillia_italic.woff') format('woff'), /* Modern Browsers */
       url('../fonts/caecillia/caecillia_italic.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/caecillia/caecillia_italic.svg#c2614630fe20170a39c74e4b1da80918') format('svg'); /* Legacy iOS */
       
  font-style:   italic;
  font-weight:  400;
}

@font-face {
  font-family: caecillia;
  src: url('../fonts/caecillia/caecillia_light.eot'); /* IE9 Compat Modes */
  src: url('../fonts/caecillia/caecillia_light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/caecillia/caecillia_light.woff') format('woff'), /* Modern Browsers */
       url('../fonts/caecillia/caecillia_light.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/caecillia/caecillia_light.svg#f7f1222cd08cff9dd5b41a23c79708fd') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  300;
}

@font-face {
  font-family: caecillia;
  src: url('../fonts/caecillia/caecillia_light_italic.eot'); /* IE9 Compat Modes */
  src: url('../fonts/caecillia/caecillia_light_italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/caecillia/caecillia_light_italic.woff') format('woff'), /* Modern Browsers */
       url('../fonts/caecillia/caecillia_light_italic.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/caecillia/caecillia_light_italic.svg#6dce16d3600cd13efbbce8cb414a900d') format('svg'); /* Legacy iOS */
       
  font-style:   italic;
  font-weight:  300;
}

@font-face {
  font-family: caecillia;
  src: url('../fonts/caecillia/caecillia_roman.eot'); /* IE9 Compat Modes */
  src: url('../fonts/caecillia/caecillia_roman.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/caecillia/caecillia_roman.woff') format('woff'), /* Modern Browsers */
       url('../fonts/caecillia/caecillia_roman.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/caecillia/caecillia_roman.svg#0d24f3cf81264924d14bb0ca8620c211') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}

@font-face {
  font-family : didot;
  src: url('../fonts/didot/didot-bold.eot'); /* IE9 Compat Modes */
  src: url('../fonts/didot/didot-bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/didot/didot-bold.woff') format('woff'), /* Modern Browsers */
       url('../fonts/didot/didot-bold.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/didot/didot-bold.svg#b1d593de22d35dbd07cf09030c0be40e') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  600;
}

@font-face {
  font-family : didot;
  src: url('../fonts/didot/didot-headline.eot'); /* IE9 Compat Modes */
  src: url('../fonts/didot/didot-headline.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/didot/didot-headline.woff') format('woff'), /* Modern Browsers */
       url('../fonts/didot/didot-headline.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/didot/didot-headline.svg#9c8238aef88a2d8693f23e6c0be7e87a') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  500;
}

@font-face {
  font-family : didot;
  src: url('../fonts/didot/didot-italic.eot'); /* IE9 Compat Modes */
  src: url('../fonts/didot/didot-italic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/didot/didot-italic.woff') format('woff'), /* Modern Browsers */
       url('../fonts/didot/didot-italic.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/didot/didot-italic.svg#bb9719e72003152ad280e2c664776bd6') format('svg'); /* Legacy iOS */
       
  font-style:   italic;
  font-weight:  400;
}

@font-face {
  font-family : didot;
  src: url('../fonts/didot/didot-roman.eot'); /* IE9 Compat Modes */
  src: url('../fonts/didot/didot-roman.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/didot/didot-roman.woff') format('woff'), /* Modern Browsers */
       url('../fonts/didot/didot-roman.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/didot/didot-roman.svg#6809e9ee38b0a68d2ce6b880fa63edf3') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}

