//main header
.header{
	font-size: 1rem;
	background-color: $secondaryBckColour;
	@media #{$information-phone}{
		font-size: 0.8em;
	}
	li{
		padding: 0.4em;
	}
}

//icon before user name
.header_user_name{
	&:before{
		content : '';
		display:inline-block;
		width: 1rem;
		height: 1rem;
		background-color: $btnColour;
		border-radius: 1rem;
		margin-right: 0.625em;
		margin-bottom: -1px;

		@media #{$information-phone}{
			width: 1em;
			height: 1em;
			border-radius: 1em;
		}
	}

	@media #{$information-phone}{
		max-width: 10em;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
		display: inline-block;
	}
}

//element nav that gets added to main header depending on section
.secondary_header{
	font-size: 0.9rem;
	@media #{$information-phone}{
		//border-top: 1px solid $btnColour;
		font-size: 0.8em;
	}
	.no_padding{
		padding: 0;
	}
}

//movie sort options
.sortingOptions{
	background-color: #D2D2D2;
	padding: 0.3em 0;
	font-size: 0.9em;

	@media #{$information-phone}{
		font-size: 0.8em;
	}

	ul{
		display: inline-block;
		height: 1.250em;
		position: relative;
		vertical-align: top;
		z-index: 150;
		margin-right: 0.4em;

		li{
			display: block;
			height: 1.250rem;
			background-color: $btnColour;
			padding: 0.3em;
			font-size: 0.9em;
			border-radius: 2px;
			right: 0;
			position: absolute;
			opacity: 0;
			pointer-events: none;
			transition: all 0.6s ease;
			transition-property: opacity, transform;
		}
	}

	//cascading options(drop down style applied when clicked)
	.cascade{
		li{
			opacity: 1;
			pointer-events: auto;
		}

		li:nth-child(2){
			transform: translateY(1.8em);
		}

		li:nth-child(3){
			transform: translateY(3.6em);
		}
		li:nth-child(4){
			transform: translateY(5.4em);
		}
		li:nth-child(5){
			transform: translateY(7.2em);
		}
		li:nth-child(6){
			transform: translateY(9em);
		}
	}

	.firstSortingCriteria{
		width: 6em;
		li{width: 6.5em;}

		li:nth-child(2){
			background-color: $pastelred;
		}

		li:nth-child(3){
			background-color: $pastelred;
		}
		li:nth-child(4){
			background-color: $blueColour;
		}
		li:nth-child(5){
			background-color: $blueColour;
		}
		li:nth-child(6){
			background-color: $pastelYellow;
		}
	}

	.secondSortingCriteria{
		width: 3em;
		li{
			width: 3.5em;
			background-color: #999;
			a{color: $bckColour;}
		}
		li:nth-child(2){background-color: #444;}
	}
}

//styles for autocomplete suggestions
.autocomplete-suggestions{ 
	background: $secondaryBckColour; 
	overflow: auto; 
}
.autocomplete-suggestion{ 
	padding: 2px 5px; 
	white-space: nowrap; 
	overflow: hidden; 
	border-bottom: 1px solid #F0F8FF;
	color: #999;
}
.autocomplete-selected{
	background: #F0F0F0;
}
.autocomplete-suggestions strong{ 
	font-weight: normal; 
	color: $btnColour; 
}

//styles for omnibar
.search_all{
	padding: 1em 0;
	position: relative;
	@media #{$information-phone}{
		font-size: 0.7em;
	}

	.search_options{
		display: inline-block;
		height: 2em;
		vertical-align: bottom;
		width: 8.5em;
		position: relative;
		z-index: 100;

		li{
			display: block;
			height: 2.2em;
			background-color: $pastelred;
			padding: 0.5em;
			font-size: 0.9em;
			border-radius: 2px;
			right: 0;
			position: absolute;
			opacity: 0;
			pointer-events: none;
			transition: all 0.6s ease;
			transition-property: opacity, transform;

			@media #{$information-phone}{
				width: 100%;
			}
			sub{font-size: 0.8em}
		}

		li:nth-child(2){background-color: $blueColour;}
		li:nth-child(3){background-color: $pastelYellow;}
	}

	//cascading options
	.cascade{
		li{
			opacity: 1;
			pointer-events: auto;
		}

		li:nth-child(2){
			transform: translateY(2.6em);
		}

		li:nth-child(3){
			transform: translateY(5.2em);
		}
	}

	input{
		width: 60%;
		height: 2em;
		border-radius: 2px;
		text-align: center;
		@media #{$information-phone}{
			width: 50%;
		}
	}
}

.search_active.search_active.search_active.search_active{
	opacity: 1;
	pointer-events: auto;
}