//specific section styles, remove top padding
.movies, .shows, .profile, .main_index{padding: 0 0 1.3em 0;}

//most of the main content sections reuse this class with adjustments
.media_list{
	display: flex;
	flex-wrap: wrap;
	font-size: 0.9em;

	li{
		flex: 0 11em;
		margin: 0.8em auto;
		position: relative;
		transition: $trans;
		padding: 0 0.4em;

		@media #{$information-phone} {
			flex: 0 50%;
			margin: 0;
		}
	}

	.poster{
		display: block;
		overflow-x: hidden;
	}

	img{
		border: 5px solid $secondaryBckColour; 
		border-radius: 2px;
		//box-shadow: 0 3px 5px rgba(0,0,0,0.2);
		width: 100%;
		height: auto;

		@media #{$information-phone}{
			//border: none;
		}
	}

	.title{
		margin: 0.4em 0;
		padding-bottom: 0.4em;
		font-weight: 600;
		display: block;
		border-bottom: 3px double $borderColour;
		line-height: 1.4em;
	}

	.date{
		font-size: 0.8em;
		font-weight: 600;
	}
}
//bio info on top of searches
.person_info_cont{text-align: left; padding: 1em 1em 2em 1em; border-bottom: 1px solid $borderColour; margin-top: -1.3em; position: relative;}
.profile_pic{width: 5em; height: 5em; overflow: hidden; border-radius: 5em; background-color: $pastelYellow; display: inline-block; vertical-align: top;
	@media #{$information-phone}{
		width: 3em; height: 3em;
	}
}
.profile_pic > img{width: 100%; height: auto; margin-top: -1em;}
.person_info{display: inline-block; width: 14em; vertical-align: top; line-height: 1.5em; margin-left: 1em; margin-right: 1em; padding-left: 1em; border-right: 1px dotted $pastelYellow; border-left: 1px dotted $pastelYellow; font-size: 0.9em;}
.person_info > li > a { border-bottom: 1px dotted $blueColour;}
.bio{display: inline-block; width: 30em; font-size: 0.9em; line-height: 1.5em; height: 8em; overflow: hidden; padding-right: 1em; border-right: 1px dotted $pastelYellow;
	@media #{$information-phone}{
		width: 100%;
		margin-top: 1em;
		border-right: none;
	}
}
.person_info_cont > button{
	color: $textColour;
	background-color: $pastelYellow;
	border-radius: 2px;
	width: auto;
	height: 1.5em;
	padding: 0.3em;
	position: absolute;
	bottom: 0.3em;
	left: 50%;

	@media #{$information-phone}{
		left: 40%;
	}
}

//index styles
.main_index > ul{
	width: 100%;
	border-bottom: medium double $borderColour;
	font-size: 0.9em;
}

.main_index > ul > li{
	display: inline-block;
	width: 9em;
	overflow-x: hidden;
	margin: 0.4em;

	img{
		width: 100%;
		height: auto;
		border: 5px solid $secondaryBckColour;
		border-radius: 2px;
	}
}

.section_heading.section_heading{
	text-align: left;
	line-height: 2.2em;
	border-right: 1px dotted $pastelYellow;
	a{
		border-bottom: 1px dotted $blueColour;
	}
}

.heading_bullet{
	width: 2em;
	height: 2em;
	border-radius: 1.5em;
	display: inline-block;
	background-color: $blueColour;
}

.no_res.no_res.no_res{
	border-right: 1px dotted $pastelYellow;
	width: 12em;
	padding-right: 1em;
	.no_results{
		width: 100%;
		margin-top: 0;
		height: 11.875em;
		text-align: left;
	}
}

.umh{background-color: $btnColour}
.uth{background-color: $blueColour}
.lmh{background-color: $brightred}
.lth{background-color: $pastelYellow}

.smaller{ width: 1em; height: 1em; margin-right: 0.3em;}

.statistics{border-right: 1px dotted $pastelYellow;}
.statistics a{
	border-bottom: 1px dotted $blueColour;
}

.movie_stats > li{display: block; line-height: 1.6em; text-align: left; margin-bottom: 0.3em;}
.movie_stats > li > span{display: inline-block; text-align: center; background-color: $blueColour; color: $secondaryBckColour; padding: 0.3em; font-weight: 700; font-size: 1.2em; border-radius: 2em;}

.news_content.news_content{background-color: $secondaryBckColour; border-radius: 2px; overflow: hidden;}
.news_content.news_content > img{border: 0; border-radius: 0; width: 130%;}
.news_content .date{background-color: $brightred; display: block; text-align: left; color: $secondaryBckColour; padding: 0.3em;}
.news_content .date > sub{color: $secondaryBckColour;}
.news_title{text-align: left; font-size: 0.9em; padding: 0.3em;}
.news_title > a {border-bottom: 1px dotted $blueColour;}
.pagination{
	//fixed position for browsers that don't support sticky
	position: fixed;
	position: sticky;
	bottom: 0;
	background-color: $bckColour;
	width: 100%;

	@media #{$information-phone} {
		position: relative;
	}

	li{
		font-size: 1.3em;
		padding: 0.325em 0.625em;
		margin-right: -0.3em;
	}

	.activePage{
		background-color: $btnColour;
		border-radius: 2px;
		a{color: $secondaryBckColour;}
	}
}

//no search results styles
.no_results{
	background-color: $secondaryBckColour;
	width: 20em;
	margin: 0 auto;
	padding: 1em;
	border-radius: 2px;
	margin-top: 3em;
	h2{
		border-bottom: 3px double $borderColour;
		padding-bottom: 0.4em;
		margin-bottom: 0.9em;
	}

	p{
		line-height: 1.5em;
		font-size: 0.9em;
	}
}