//basic styles for modal content
.movieInfo{
	background: top center no-repeat;
	background-size: cover;
	height: 95%;
	background-color: whitesmoke;
	position: relative;
	width: 100%;
	display: flex;
	justify-content: center;

	@media #{$information-phone}{
		height: 100%;
		flex-direction: column;
		padding: 0;
	}

	ul{
		background-color: $secondaryBckColour;
		font-size: 0.9em;
		border-radius: 2px;
		padding: 1.5em;

		@media #{$information-phone}{
			padding: 0;
		}

		li{
			display: block; 
			line-height: 1.6em; 
			margin-bottom: 1em;
		}
	}
}

//styles for first movie info pane 
.movieDetail{
	min-width: 26em;
	width: 60%;
	margin-right: 1em;
	overflow-y: auto;
	height: 100%;

	@media #{$information-phone}{
		height: 100%;
		width: 100%;
		min-width: 100%;
		margin-top: 3em;
		-webkit-overflow-scrolling: touch;

		span:first-child{
			display: inline-block;
			padding: 0 1em;
		}
	}

	h1{display: inline; line-height: 1.6em;}
}

//add overflow for when the second pane excedes the modal height
.horizontal_uls{
	max-height: 100%;
	overflow-y: auto;

	@media #{$information-phone}{
		max-height: auto;
		-webkit-overflow-scrolling: touch;
		position: absolute;
		top: 0;
		width: 100%;
		background-color: $secondaryBckColour;
		border-bottom: 1px solid $borderColour;
		padding-bottom: 2px;
	}
}

.cast_list{ text-align: center;}
.cast_list > ul{ text-align: left; columns: 2; column-width: 12.5em; display: inline-block; width: 100%;}
.cast_list > ul > li{
	//min-height: 6em;
	border-bottom: 1px solid $borderColour;
	padding: 0.5em 0;

	img{width: 100%; margin-top: -1em;}
	a{border-bottom: 1px dotted $blueColour; padding-bottom: 0.3em;}

	&:after{
		clear: both;
		content: '';
		display: block;
	}
}
.cast_list .contain_img{
	float: left;
	width: 5em;
	height: 5em;
	overflow: hidden;
	border-radius: 5em;
	background-color: $pastelYellow;
	margin-right: 1em;
	border: none;
}


.movie_additional.movie_additional.movie_additional{
	width: 14em; 
	text-align: left;
	padding: 1em;

	@media #{$information-phone}{
		width: 12em;
		padding: 0.5em;
		float: left;
		display: none;
	}

	li{margin-bottom: 0.3em; padding-bottom: 0.3em;}
}

.movie_options.movie_options.movie_options{
	width: 14em;
	padding: 0;
	background-color: transparent;

	@media #{$information-phone}{
		width: 100%;
		margin-left: 15%;
	}

	li{
		width: 47%;
		float: left;
		height: 6em;
		background-color: $secondaryBckColour;
		border-radius: 2px;
		transition: background 0.6s ease;

		@media #{$information-phone}{
			width: 10%;
			height: 2.5em;
			margin: 0 0.2em 0.4em;

			sub{display: none;}
		}
	}

	img{
		display: block;
		margin: 0 auto;
		margin-top: 15px;

		@media #{$information-phone}{
			margin-top: 3px;
		}
	}
}

.activeOption.activeOption.activeOption.activeOption.activeOption.activeOption{background-color: $btnColour;}

//overlay for image viewing
.image_viewer{
	header{
		ul{
			background-color: $bckColour;
			padding: 0.4em;
			border-radius: 0;
		}

		li{
			display: inline-block;
			margin-right: 0.6em;
			margin-bottom: 0;
			background-color: $secondaryBckColour;
			border-radius: 2px
		}
	}

	width: 100%;
	background-color: $secondaryBckColour;
	height: 100%;
	position: absolute;
	transform: translateY(-100%);
	top: 0;
	left: 0;
	overflow: hidden;
	transition: $trans;

	.episodes, .img_holder{
		display: none;
		width: 100%;
		height: 100%;
		overflow: scroll;
		-webkit-overflow-scrolling: touch;
	}
}

//helper class to reveal hidden image_viewer
.showImage{
	transform: translateY(0);
}

//adjust media_list style for smaller container
.movieImages, .movieVideos, .moviePosters.moviePosters.moviePosters, .similar.similar.similar{
	padding: 0.5em;
	img{opacity: 1;}
}

//adjust media_list style for smaller container
.movieImages, .movieVideos{
	li{flex: 0 18.750em}
}

//adjust media_list style for smaller container
.moviePosters, .similar{
	li{flex: 0 9.375rem}
}

//adjust media_list style for smaller container(button)
.similar .add_movie{
	margin-top: -2.2em;
}

.seasonList.seasonList.seasonList{
	font-size: 1.1em;
	padding: 0;

	li{
		padding: 0.6em 0;
		border: 1px solid $btnColour;
		display: inline-block;
		width: 30%;
		border-radius: 2px;
		margin-bottom: 0.4em;
	}

	li:nth-child(4n + 2){
		border-color: $pastelred;
	}
	li:nth-child(4n + 3){
		border-color: $blueColour;
	}
	li:nth-child(4n + 4){
		border-color: $pastelYellow;
	}

	strong{
		background-color: $blueColour;
		width: 1.7em;
		height: 1.7em;
		border-radius: 1.7em;
		display: inline-block;
		color: #FEFEFA;
		font-weight: 700;
		padding-top: 2px;
		margin: 0.4em 0;
	}
}

.exlinks.exlinks.exlinks.exlinks.exlinks strong{
	background-color: $blueColour;
	border-radius: 2px;
	display: inline-block;
	color: #FEFEFA;
	font-weight: 600;
	padding: 2px;
	width: auto;
	height: auto;
	margin: 0;
}

.episode_list{
	.first{
		max-width: 30%;
		overflow: hidden;
		margin-right: 1em;
		float: left;
	}

	img{
		border: 5px solid $secondaryBckColour; 
		border-radius: 2px;
		box-shadow: 0 3px 5px rgba(0,0,0,0.2);
	}

	.eps{
		padding-bottom: 1em;
		.second{
			width: 60%;
			max-width: 30em;
			text-align: left;
			float: left;
		}
		h2{margin-bottom: 0.5em;}
	}
}




