$altFontFam: caecillia, Rockwell, "Courier Bold", Courier, Georgia, Times, "Times New Roman", serif;
$altHeadingFam: didot, "Didot LT STD", "Hoefler Text", Garamond, "Times New Roman", serif;
$buttonWH: 1.875rem;
$trans : transform 0.6s ease-in-out;
//colours : gray
$bckColour: #D8D8D8;
$secondaryBckColour: #FFFFFF;
$borderColour: silver;
//colours : white
$textColour: #555555;
//colours : red
$ruby_red : #E0115F;
$brightred: #FF4343;
$pastelred: #FF7878;
$deleteColour: #BF4F51;
//colours : yellow
$pastelYellow : #FFFF78;
//colours : green
$btnColour: #60CC7B;
//colours : blue
$blueColour: #78DDFF;

//Media Queries
$information-phone: "only screen and (max-width : 40.3125em)";
$information-screen: "only screen and (min-width : 40.3125em)";

@charset "UTF-8";
@import "fonts";
@import "reset";
@import "buttonsandforms";
@import "basicstyles";
@import "header.scss";
@import "media.scss";
@import "mediaInfo.scss";
@import "animations";



